/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 8:37:24 PM
    Author     : Dell
*/

.image {
    width: 50%;
    float: left;
    height: 550px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.month {
    float: right;
    width: 45%;
    height: 100%;
}

.month td {
    font-size: 25px;
}

.month td input {
    width: 250px;
    height: 40px;
}

.month td select {
    width: 250px;
    height: 40px;
}

.month td input[type="submit"] {
    background: blue;
    color:black;
    border: 2px solid red;
    cursor: pointer;
    color: white;
    font-size: 25px;
}